<div class="row">
  <div class="col-6">
    <h3>Infinite Example</h3>
    <ag-grid-angular 
      #agGridInfinite
      style="width: 100%; height: 500px;" 
      class="ag-theme-alpine" 
      [animateRows]="true"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [modules]="modules"
      [serverSideStoreType]="serverSideStoreType"
      [cacheBlockSize]="cacheBlockSize"
      [rowModelType]="rowModelType"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="col-6">
    <h3>Pagination Example</h3>
    <ag-grid-angular 
      #agGridPagination
      style="width: 100%; height: 500px;" 
      class="ag-theme-alpine" 
      [animateRows]="true"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressAggFuncInHeader]="true"
      [modules]="modules"
      [serverSideStoreType]="serverSideStoreType"
      [cacheBlockSize]="cacheBlockSize"
      [rowModelType]="rowModelType"
      [pagination]="true"
      [paginationAutoPageSize]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
